*.egg-info/
*.onnx
*.pyc
*.tsbuildinfo
.spacetime/
__pycache__/
data/cache/
data/control-db/
data/dbs/
data/logs/
data/program-bytes/
data/database_identity
data/metadata.toml
dist/
model/
node_modules/
target/
venv/
.venv/
.upstream-venv/
build/
.env
coverage
*.profraw
.coverage
